# Ignorar entornos virtuales
venv/
python-polars-the-definitive-guide
# Ignore Copilot instructions file (local-only guidance)
.github/copilot-instructions.md

# Ignorar archivos de datos
*.csv
*.parquet
*.tsv
*.xlsx
*.json
*.zip
*.gz
*.feather
*.h5
*.db
*.sqlite
*.ndjson
*.sav
*.sas7bdat
*.rds
*.mat
*.pkl
*.tar
*.tar.gz
*.bz2
*.orc
*.avro
*.xls
*.xlsm
*.ods
*.xml
*.yml
*.yaml
*.pdf
*.ppt
*.pptx
*.doc
*.docx
*.jpg
*.jpeg
*.png
*.bmp
*.tiff
*.gif
*.mp3
*.mp4
*.mov
*.avi
*.wav
*.flac
*.svg
*.webp
*.heic
*.ico
*.log
*.bak
*.tmp
*.dat
Dani_project

# Ignorar archivos temporales
__pycache__/
*.pyc
.DS_Store
.ipynb_checkpoints/
